<!DOCTYPE html>
<html lang="zxx">

<head>
	<meta charset="UTF-8">
	<title>Rashed</title>
	<!-- =================== META =================== -->
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="shortcut icon" href="../../assets/images/favicon.png">

	<!-- =================== STYLE =================== -->
	<link rel="stylesheet" href="../../site/assets/css/slick.min.css">
	<link rel="stylesheet" href="../../site/assets/css/bootstrap-grid.css">
	<link rel="stylesheet" href="../../site/assets/css/font-awesome.min.css">
	<link rel="stylesheet" href="../../site/assets/css/style.css">
</head>

<body id="home">
	<!--================ PRELOADER ================-->
	<div class="preloader-cover">
		<div id="cube-loader">
			<div class="caption">
				<div class="cube-loader">
					<div class="cube loader-1"></div>
					<div class="cube loader-2"></div>
					<div class="cube loader-4"></div>
					<div class="cube loader-3"></div>
				</div>
			</div>
		</div>
	</div>
	<header class="header">

		<div class="top-panel">

			<div class="container">
				<div class="header-right">
					<img class="logo" src="../../site/assets/img/logo.png" alt="">


				</div>

				<div class="header-left">
					<ul class="social-list">
						<li><a target="_blank" href="https://www.snapchat.com/add/rashidalnajem"><i
									class="fa fa-snapchat-ghost" aria-hidden="true"></i></a></li>
						<li><a target="_blank" href="https://twitter.com/rashid_alnajem?s=11 "><i class="fa fa-twitter"
									aria-hidden="true"></i></a></li>
						<li><a target="_blank" href="https://www.youtube.com/@rashid_alnajem?si=cVzmPRReC4yc9Ly9"><i
									class="fa fa-youtube" aria-hidden="true"></i></a></li>
						<li><a target="_blank"
								href="https://www.instagram.com/rashid_alnajem?igsh=MWw0enMwbXprMmZ0cg%3D%3D"><i
									class="fa fa-instagram" aria-hidden="true"></i></a></li>
					</ul>

				</div>
			</div>
		</div>

	</header>
	<section class="the-banner">
		<div class="container">

			<div class="row justify-content-center banner-col revers-row">
				<div class="col-md-6 col-12  banner-col1">
					<h1>اوصل لأفضل نتيجة لجسمك بأسس علمية</h1>
					<p>ضمان النتائج مع التزامك بالتوجيهات</p>
					<a class="btn" href="#packages">اشترك الآن</a>
				</div>
				<div class="col-md-4 col-12 banner-col2">
					<img src="../../site/assets/img/rashed.png" alt="">
				</div>

			</div>
		</div>
	</section>
	<section class="s-club-cards" id="packages">
		<div class="container">
			<h2 class="title-decor">اختر <span>الباقة</span> المناسبة </h2>
			<div class="row" id="packagesDiv">
				<div class="col-md-4 club-card-col">

					<div class="club-card-item">
						<div class="ribbon">
							<span>
								خصم خاص للطلاب
							</span>
						</div>

						<h2 class="title-cover"> الباقة الذهبية العادية
						</h2><br>
						<div class="price-cover">
							<div class="price">
								٤٨٨
							</div>
							<div class="date"><span>دولار</span></div>
						</div>
						<!-- <div class="red-line"></div> -->

						<br>
						<ul class="list">
							<li>جدول تدريبي كامل لمدة 12 اسبوع
							</li>
							<li class="specialOffer">
								عرض نهاية السنة
								<br>
								احصل على اشتراك 3 شهور إضافية مجانا
							</li>
						</ul>
						<a class="btn" id="pckl1" href="/package2">اشترك الآن</a>
					</div>
				</div>

				<div class="col-md-4 club-card-col">
					<div class="club-card-item second-card">
						<div class="ribbon">
							<span>
								خصم خاص للطلاب
							</span>
						</div>
						<h2 class="title-cover"> الباقة الذهبية الخاصة
							<br>
							<span> (Vip)
							</span>
						</h2><br>
						<div class="price-cover">
							<div class="price">
								٥٨٥
							</div>
							<div class="date"><span>دولار</span></div>
						</div>
						<!-- <div class="red-line"></div> -->


						<br>
						<ul class="list">
							<li>جدول تدريبي كامل لمدة 12 اسبوع
							</li>
							<li class="specialOffer">
								عرض نهاية السنة
								<br>
								احصل على اشتراك 3 شهور إضافية مجانا
							</li>
						</ul>
						<a class="btn" id="pckl2" href="/package1">اشترك الآن</a>
					</div>
				</div>
				<div class="col-md-4 club-card-col">
					<div class="club-card-item">
						<div class="ribbon">
							<span>
								خصم خاص للطلاب
							</span>
						</div>
						<h2 class="title-cover">
							باقة محسنات الأداء
							<br>
							والتجهيز
						</h2>
						<br>
						<div class="price-cover">
							<div class="price">
								٦٨٢
							</div>
							<div class="date"><span>دولار</span></div>
						</div>
						<!-- <div class="red-line"></div> -->

						<br>
						<ul class="list">
							<li>جدول تدريبي كامل لمدة 16-18 اسبوع
							</li>
							<li class="specialOffer">
								عرض نهاية السنة
								<br>
								احصل على اشتراك 3 شهور إضافية مجانا
							</li>

						</ul>
						<a class="btn" id="pckl3" href="/package3">اشترك الآن</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ RELATED POSTS ================-->
	<section class="s-related-posts home-related-posts">
		<div class="container">
			<h2 class="title-decor">بعض نتايج <span>المشتركين</span></h2>
			<div class="row">
				<div class="col-md-6 related-post-col">
					<div class="post-item-cover">
						<div class="post-header">
							<div class="post-thumbnail">
								<img class="rx-lazy" src="../../site/assets/img/placeholder-all.png"
									data-src="../../site/assets/img/sub/1/img.jpg" alt="img">
							</div>
						</div>
						<div class="post-content">
							<div class="text">
								<p>عبدالعزيز: تجربتي مع المدرب راشد الناجم من ناحية جودة الشغل بالجداول للتمرين والتغذية
									والمتابعة والتعامل أكثر من الممتازة، لاحظت تطورات بالشكل وعوامل خارجية للحياة بشكل
									عام والصحه، الاشتراك مع المدرب راشد الناجم شي مختلف تماماً، أنصح أي شخص عنده الفرصة
									للاشتراك ان يشترك مع المدرب راشد، لايوجد عندي اي ملاحظات عن الجدول👍
								</p>
							</div>
						</div>

					</div>
				</div>
				<div class="col-md-6 related-post-col">
					<div class="post-item-cover">
						<div class="post-header">
							<div class="post-thumbnail">
								<img class="rx-lazy" src="../../site/assets/img/placeholder-all.png"
									data-src="../../site/assets/img/sub/5/img.jpg" alt="img">
							</div>
						</div>
						<div class="post-content">
							<div class="text">

								<p>تجربتي مع المدرب راشد الناجم خلال ٣ شهور فوق الممتازه من ناحية جودة الشغل بالجداول
									للتمرين والتغذية والمتابعة، لاحظت تطورات بالشكل والصحه حييل لي درجه النادي وقتها صار
									جزء من يومي، تحسنت ثقافتي بمجال الرياضه والتغذية، وأنصح من القلب للامانة الاشتراك مع
									المدرب راشد الناجم، الشغل فوق الممتاز واتوقع في اقوى بعد مع الوقت
								</p>
							</div>
						</div>

					</div>
				</div>
				<div class="col-md-6 related-post-col">
					<div class="post-item-cover">
						<div class="post-header">
							<div class="post-thumbnail">
								<img class="rx-lazy" src="../../site/assets/img/placeholder-all.png"
									data-src="../../site/assets/img/sub/3/img.jpg" alt="img">
							</div>
						</div>
						<div class="post-content">
							<div class="text">
								<p>هذا أفضل جدول تدريب مر علي بحياتي كلها بدون مبالغه، جدول مربوط بين المدرب والمتدرب
									وفي متابعه لكل شي من جولات التمرين الى التغذيه شغل جبار والله العظيم، من ناحية
									تطورات الشكل والصحه والأداء الحمدلله جداً ممتازه والالتزام بالجدول وتعبئة البيانات
									تفرق بشكل كبير، كمية معلوماتي بهالمجال جداً زادت بفضل الله الي سخر لي شخص مثله
									يفيدنا، انصح اي شخص عنده الفرصه بالاشتراك ان يشترك مع المدرب راشد الناجم بدون تفكير،
									حاب اوجه رساله من افضل اختياراتي من اول مادشيت مجال الرياضه اني اشتركت مع كابتن راشد
									وتعلمت منه وايد امور ماكنت راح اقدر اتعلمها بروحي
								</p>


							</div>
						</div>

					</div>
				</div>
				<div class="col-md-6 related-post-col">
					<div class="post-item-cover">
						<div class="post-header">
							<div class="post-thumbnail">
								<img class="rx-lazy" src="../../site/assets/img/placeholder-all.png"
									data-src="../../site/assets/img/sub/2/img.jpg" alt="img">
							</div>
						</div>
						<div class="post-content">
							<div class="text">
								<p>
									تجربتي مع راشد الناجم تجربه ممتازه بالدقه والتدريج بالتغذيه برفع ونزول السعرات
									والمتابعه والتعامل من افضل مايكون، من ناحية تطورات بالشكل لاحظت طبعا بنزول الوزن فرق
									واضح وكبير لدرجة بروز عضلات المعده، الاشتراك ساهم برفع ثقافتي بالتغذيه من خلال تعلم
									حساب السعرات واختيار نوعية الاكل، أنصح أي شخص عنده الفرصة بالاشتراك ان يشترك مع
									المدرب راشد الناجم وبشدة، احب اشكر المدرب راشد على المجهود الي يبذله في دقه تصاميم
									الجداول في المتابعه

								</p>

							</div>
						</div>

					</div>
				</div>

				<div class="col-md-6 related-post-col">
					<div class="post-item-cover">
						<div class="post-header">
							<div class="post-thumbnail">
								<img class="rx-lazy" src="../../site/assets/img/placeholder-all.png"
									data-src="../../site/assets/img/sub/4/img.jpg" alt="img">
							</div>
						</div>
						<div class="post-content">
							<div class="text">

								<p>ماشفت جدول مثله ووايد الطريقه سهله وتخليك تحب التسجيل وتتابع شغلك وبنفس الوقت تقدر
									تعدل على الجدول، لاحظت تطورات بالشكل والصحه واضح جداً، ساهم بتحسين ثقافتي بالمجال
									جداً، أنصح وبقوة الاشتراك مع المدرب راشد، ماعندي أي ملاحظات عن الجداول ماشاءالله
									عليه
								</p>
							</div>
						</div>

					</div>
				</div>
				<div class="col-md-6 related-post-col">
					<div class="post-item-cover">
						<div class="post-header">
							<div class="post-thumbnail">
								<img class="rx-lazy" src="../../site/assets/img/placeholder-all.png"
									data-src="../../site/assets/img/sub/7/img.jpg" alt="img">
							</div>
						</div>
						<div class="post-content">
							<div class="text">

								<p>الجدول جداً رائع واضح ومنظم، لاحظت تطور ملحوظ في جميع النواحي، تعلمت تفاصيل مهمة في
									الرياضة والتغذية كانت مجهولة بالنسبة لي، أنصح أي شخص عنده الفرصة بالاشتراك ان يشترك
									مع المدرب راشد الناجم، الله يعطيه العافيه على مجهوده المميز
								</p>
							</div>
						</div>

					</div>
				</div>
				<div class="col-md-6 related-post-col">
					<div class="post-item-cover">
						<div class="post-header">
							<div class="post-thumbnail">
								<img class="rx-lazy" src="../../site/assets/img/placeholder-all.png"
									data-src="../../site/assets/img/sub/9/img.jpg" alt="img">
							</div>
						</div>
						<div class="post-content">
							<div class="text">
								<p>والله التجربة كانت ومازالت خيالية، المدرب راشد الناجم خلاني افكر من ناحية التمرين
									والتغذية على انها اسلوب حياة ومنظور ثاني جداً، تغيرت تغير جداً كبير بفترة جداً
									قصيرة، اختياراتي للأكل صارت صحية في تغير بشكل كبير، فوق كل هذا والأهم ثقتي بنفسي
									زادت مليون درجة، نصحت اكثر من واحد من المعارف بخصوص المدرب راشد الناجم
								</p>

							</div>
						</div>

					</div>
				</div>
				<div class="col-md-6 related-post-col">
					<div class="post-item-cover">
						<div class="post-header">
							<div class="post-thumbnail">
								<img class="rx-lazy" src="../../site/assets/img/placeholder-all.png"
									data-src="../../site/assets/img/sub/6/img.png" alt="img">
							</div>
						</div>
						<div class="post-content">
							<div class="text">

								<p>فهد مفكر بالدخول في مجال المنافسة ولكن نسبة الدهون عالية وكمية العضلات قليلة، تم وضع
									خطة لنزول الدهون وبناء العضل وتجربة المنافسة في بطولة كلاسيك فيزيك ولله الحمد تم
									تحقيق هذا الهدف والنتيجة ولا أروع
								</p>
							</div>
						</div>

					</div>
				</div>

				<div class="col-md-6 related-post-col">
					<div class="post-item-cover">
						<div class="post-header">
							<div class="post-thumbnail">
								<img class="rx-lazy" src="../../site/assets/img/placeholder-all.png"
									data-src="../../site/assets/img/sub/10/img.jpg" alt="img">
							</div>
						</div>
						<div class="post-content">
							<div class="text">
								<p>البطل محمد بعد انقطاع طويل عن التمرين الهدف خسارة دهون وبناء العضل بنفس الوقت وتم
									تحقيق هذا الهدف</p>
							</div>
						</div>

					</div>
				</div>

				<div class="col-md-6 related-post-col">
					<div class="post-item-cover">
						<div class="post-header">
							<div class="post-thumbnail">
								<img class="rx-lazy" src="../../site/assets/img/placeholder-all.png"
									data-src="../../site/assets/img/sub/8/img.jpg" alt="img">
							</div>
						</div>
						<div class="post-content">
							<div class="text">
								<p>البطل أنور خير مثال لخسارة الدهون وبناء العضل في نفس الوقت
								</p>

							</div>
						</div>

					</div>
				</div>

			</div>
		</div>
	</section>
	<!--============== RELATED POSTS END ==============-->


	<!--=================== TO TOP ===================-->
	<a class="to-top" href="#home">
		<i class="fa fa-chevron-up" aria-hidden="true"></i>
	</a>
	<!--================= TO TOP END =================-->

	<!--=================== SCRIPT	===================-->
	<script src="../../site/assets/js/jquery-2.2.4.min.js"></script>
	<script src="../../site/assets/js/slick.min.js"></script>
	<script src="../../site/assets/js/rx-lazy.js"></script>
	<script src="../../site/assets/js/parallax.min.js"></script>
	<script src="../../site/assets/js/scripts.js"></script>
	<script src="../../site/assets/js/index.js"></script>
</body>

</html>