<!DOCTYPE html>
<html lang="ar">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>التسجيل مغلق حاليا</title>
    <link rel="shortcut icon" href="../../assets/images/favicon.png">
    <link href="../../assets/css/bootstrap-dark-rtl.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="../../site/assets/css/slick.min.css">
    <link rel="stylesheet" href="../../site/assets/css/bootstrap-grid.css">
    <link rel="stylesheet" href="../../site/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../site/assets/css/style.css">



    <style>
        .loader {
            width: 50px;
            aspect-ratio: 1;
            border-radius: 50%;
            background:
                radial-gradient(farthest-side, #f03355 95%, #0000) 50% 1px/12px 12px no-repeat,
                radial-gradient(farthest-side, #0000 calc(100% - 14px), #ccc 0);
            animation: l9 2s infinite linear;
        }

        @keyframes l9 {
            to {
                transform: rotate(1turn)
            }
        }
    </style>


</head>

<body>

    <header class="header">

        <div class="top-panel">

            <div class="container">
                <div class="header-right">
                    <a href="/index"><img class="logo" src="../../site/assets/img/logo.png" alt=""></a>


                </div>

                <div class="header-left">
                    <ul class="social-list">
                        <li><a target="_blank" href="https://www.snapchat.com/add/rashidalnajem"><i
                                    class="fa fa-snapchat-ghost" aria-hidden="true"></i></a></li>
                        <li><a target="_blank" href="https://twitter.com/rashid_alnajem?s=11 "><i class="fa fa-twitter"
                                    aria-hidden="true"></i></a></li>
                        <li><a target="_blank" href="https://www.youtube.com/@rashid_alnajem?si=cVzmPRReC4yc9Ly9"><i
                                    class="fa fa-youtube" aria-hidden="true"></i></a></li>
                        <li><a target="_blank"
                                href="https://www.instagram.com/rashid_alnajem?igsh=MWw0enMwbXprMmZ0cg%3D%3D"><i
                                    class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    </ul>

                </div>
            </div>
        </div>

    </header>

    <div class="card-desktop2">
        <h3 class="mb-4">
            التسجيل حاليا مغلق
        </h3>

        <p class="subContent">
            اكتمل عدد المسجلين و التسجيل مغلق حتى
            <br>
            تاريخ 25 ابريل 2025 الساعة الرابعة مساءا بتوقيت الكويت
            <br>
        </p>
        <a class="btn" href="/index">عودة للصفحة الرئيسية</a>
    </div>

</body>

</html>