<!DOCTYPE html>
<html lang="ar">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>الشروط والأحكام</title>
	<link rel="shortcut icon" href="../../assets/images/favicon.png">
	<link href="../../assets/css/bootstrap-dark-rtl.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />

	<link rel="stylesheet" href="../../site/assets/css/slick.min.css">
	<link rel="stylesheet" href="../../site/assets/css/bootstrap-grid.css">
	<link rel="stylesheet" href="../../site/assets/css/font-awesome.min.css">
	<link rel="stylesheet" href="../../site/assets/css/style.css">



	<style>
		.loader {
			width: 50px;
			aspect-ratio: 1;
			border-radius: 50%;
			background:
				radial-gradient(farthest-side, #f03355 95%, #0000) 50% 1px/12px 12px no-repeat,
				radial-gradient(farthest-side, #0000 calc(100% - 14px), #ccc 0);
			animation: l9 2s infinite linear;
		}

		@keyframes l9 {
			to {
				transform: rotate(1turn)
			}
		}
	</style>


</head>

<body>

	<header class="header">

		<div class="top-panel">

			<div class="container">
				<div class="header-right">
					<a href="/index"><img class="logo" src="../../site/assets/img/logo.png" alt=""></a>


				</div>

				<div class="header-left">
					<ul class="social-list">
						<li><a target="_blank" href="https://www.snapchat.com/add/rashidalnajem"><i
									class="fa fa-snapchat-ghost" aria-hidden="true"></i></a></li>
						<li><a target="_blank" href="https://twitter.com/rashid_alnajem?s=11 "><i class="fa fa-twitter"
									aria-hidden="true"></i></a></li>
						<li><a target="_blank" href="https://www.youtube.com/@rashid_alnajem?si=cVzmPRReC4yc9Ly9"><i
									class="fa fa-youtube" aria-hidden="true"></i></a></li>
						<li><a target="_blank"
								href="https://www.instagram.com/rashid_alnajem?igsh=MWw0enMwbXprMmZ0cg%3D%3D"><i
									class="fa fa-instagram" aria-hidden="true"></i></a></li>
					</ul>

				</div>
			</div>
		</div>

	</header>

	<div class="card-desktop2">
		<h3 class="mb-4">
			الباقة الذهبية الخاصة
			<span>(Vip)</span>
		</h3>

		<p class="subTitle">
			١_المميزات:
		</p>
		<p class="subContent">
			<span class="dot-sty">•</span> خطة تدريبية كاملة تشمل جدول التمرين والتغذية والنشاط والمكملات والمتابعة لمدة
			٣ شهور
			<br>
			<span class="dot-sty">•</span> مدرب ومدربة مساعدين لمتابعة تكنيك تمارين المشتركين والمشتركات
			<br>
			<span class="dot-sty">•</span> وصفات وجبات صحية
			<br>
			<span class="dot-sty">•</span> امكانية اختيار التغذية بالميزان، او السعرات الحرارية والقيم الغذائية، او
			اشتراك مطعم وجبات صحية
			<br>
			<span class="dot-sty">•</span> متابعة يومية واسبوعية
			<br>
			<span class="dot-sty">•</span> مكالمة زوم نهاية كل مرحلة تدريبية لمدة ساعه
			<br>
			<span class="dot-sty">•</span> متواجد في الواتس أب لأي سؤال أو استفسار في أي وقت والرد خلال ٢٤ ساعه
			<br>
			<span class="dot-sty">•</span>
			‎ملف كامل للتعليمات والإرشادات وفيديو شرح للجدول لضمان سهولة المتابعة وتسجيل التطورات في الجدول، وأيضا يتضمن
			الملف بعض الأسئلة الشائعة للمشتركين والإجابات عنهم
			<br><br>
		</p>
		<p class="subTitle">
			٢_خصومات:
		</p>
		<p class="subContent">
			<span class="dot-sty">•</span>١٠٪؜ خصم على جميع الباقات المتوفرة في مطعم بوست الصحي لسكان الكويت
			<br><span class="dot-sty">•</span>١٥٪؜ خصم على جميع الملابس والاكسسوارات من متجر سكوات وولف، توصيل لجميع دول العالم
			<br><span class="dot-sty">•</span>٢٠٪؜ خصم على جميع باقات الاشتراك التدريبية للطلبة
			<br><span class="dot-sty">•</span>٥٠٪؜ خصم على باقة تحاليل الدم لسكان الكويت من مختبر ماي لاب
			<br><br>
		</p>
		<p class="subTitle">
			٣_طلبات:
		</p>
		<p class="subContent">
			<span class="dot-sty">•</span> صور الجسم (للرجال)<br>
			<span class="dot-sty">•</span> مقاسات الجسم (للنساء)<br>
			<span class="dot-sty">•</span> ميزان اكل<br>
			<span class="dot-sty">•</span> ميزان جسم<br>
			<span class="dot-sty">•</span> يحبب وجود ساعة يد لمتابعة الخطوات<br>
			<span class="dot-sty">•</span> فحص دم (لايزيد عن ٦ شهور)
			<br>

		</p>
		<hr width="100%">
		<h3 class="mb-2">
			الشروط<span> و </span>الاحكام
		</h3>
		<p class="subContent">
			<span class="dot-sty">•</span>
			‎مدة الإشتراك تبدأ من تسليم الجدول للمشترك، ولا يمكن تأجيل أو إيقاف الإشتراك بعد إرسال الجدول، الا في حال
			طلب مسبق لوقت البدء او الحالات الطارئة.
			<br>
			<span class="dot-sty">•</span>
			يتعهد المشترك بأن جميع البيانات في نموذج التسجيل صحيحة وغير مزورة.
			<br>
			<span class="dot-sty">•</span>
			يتحمل المشترك نتائج عدم إلتزامه بالتعليمات في الجدول
			<br>
			<span class="dot-sty">•</span>
			التواصل سيتم بالكامل عبر الواتس أب من خلال المحادثات الكتابية فقط، ولايوجد تواصل عبر المكالمات الهاتفية
			<br>
			<span class="dot-sty">•</span>
			يجب قراءة ملف التعليمات والاسئلة الشائعة قبل طرح أي سؤال أو استفسار
			<br>
			<span class="dot-sty">•</span>
			‎يتم تسليم الجدول خلال ٣-٧ أيام عمل من الدفع واستلام جميع التفاصيل
			<br>
			<span class="dot-sty">•</span>
			‎يحق للمدرب إلغاء اشتراك المتدرب اذا لم يتبع التعليمات أو أساء إليه، ولايوجد استرجاع للمبلغ في حال الإساءة.
		</p>


		<a class="btn" href="/subscribe?packageType=1&packageName=VIP">اشترك الآن</a>

	</div>

	<script>
		const questions = document.querySelectorAll('.question-container');
		const progressBar = document.getElementById('progress-bar');
		let currentQuestionIndex = 0;

		function nextQuestion() {
			if (currentQuestionIndex < questions.length - 1) {
				questions[currentQuestionIndex].classList.remove('active');
				currentQuestionIndex++;
				questions[currentQuestionIndex].classList.add('active');
				updateProgressBar();
			}
		}

		function previousQuestion() {
			if (currentQuestionIndex > 0) {
				questions[currentQuestionIndex].classList.remove('active');
				currentQuestionIndex--;
				questions[currentQuestionIndex].classList.add('active');
				updateProgressBar();
			}
		}

		function updateProgressBar() {
			const progress = ((currentQuestionIndex + 1) / questions.length) * 100;
			progressBar.style.width = progress + '%';
		}

		// JavaScript to update the file name display
		const fileUploader = document.getElementById('fileUploader');
		const fileUploadText = document.getElementById('file-upload-text');

		fileUploader.addEventListener('change', function () {
			if (fileUploader.files.length > 0) {
				fileUploadText.textContent = fileUploader.files[0].name;
			} else {
				fileUploadText.textContent = 'لم يتم اختيار ملف';
			}
		});
	</script>

</body>

</html>