<!DOCTYPE html>
<html lang="ar">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Form</title>
	<link rel="stylesheet" href="../../site/assets/css/slick.min.css">
	<link rel="stylesheet" href="../../site/assets/css/bootstrap-grid.css">
	<link rel="stylesheet" href="../../site/assets/css/font-awesome.min.css">
	<link rel="stylesheet" href="../../site/assets/css/style.css">
</head>

<body>

	<header class="header">

		<div class="top-panel">
			<div class="container">
				<div class="header-right">
					<img class="logo" src="../../site/assets/img/logo.png" alt="">


				</div>

				<div class="header-left">
					<ul class="social-list">
						<li><a target="_blank" href="https://www.facebook.com/rovadex"><i class="fa fa-snapchat-ghost"
									aria-hidden="true"></i></a></li>
						<li><a target="_blank" href="https://twitter.com/RovadexStudio"><i class="fa fa-twitter"
									aria-hidden="true"></i></a></li>
						<li><a target="_blank" href="https://www.youtube.com"><i class="fa fa-youtube"
									aria-hidden="true"></i></a></li>
						<li><a target="_blank"
								href="https://www.instagram.com/rashid_alnajem?igsh=MWw0enMwbXprMmZ0cg%3D%3D"><i
									class="fa fa-instagram" aria-hidden="true"></i></a></li>
					</ul>

				</div>
			</div>
		</div>

	</header>

	<div class="card-desktop">
		<div class="progress-bar mt-3 mb-3">
			<span id="progress-bar"></span>
		</div>

		<div class="content">
			<span id="qstns">

			</span>
			<div class="question-container">
				<div class="question">لقد قرأت جميع الشروط والأحكام وأتعهد بالالتزام بها.</div>
				<div class="options">
					<button onclick="nextQuestion()">نعم</button>
				</div>
			</div>
		</div>
	</div>

	<script>
		// const questions = document.querySelectorAll('.question-container');
		// const progressBar = document.getElementById('progress-bar');
		// let currentQuestionIndex = 0;

		// function nextQuestion() {
		// 	if (currentQuestionIndex < questions.length - 1) {
		// 		questions[currentQuestionIndex].classList.remove('active');
		// 		currentQuestionIndex++;
		// 		questions[currentQuestionIndex].classList.add('active');
		// 		updateProgressBar();
		// 	}
		// }

		// function previousQuestion() {
		// 	if (currentQuestionIndex > 0) {
		// 		questions[currentQuestionIndex].classList.remove('active');
		// 		currentQuestionIndex--;
		// 		questions[currentQuestionIndex].classList.add('active');
		// 		updateProgressBar();
		// 	}
		// }

		// function updateProgressBar() {
		// 	const progress = ((currentQuestionIndex + 1) / questions.length) * 100;
		// 	progressBar.style.width = progress + '%';
		// }

		// // JavaScript to update the file name display
		// const fileUploader = document.getElementById('fileUploader');
		// const fileUploadText = document.getElementById('file-upload-text');

		// fileUploader.addEventListener('change', function () {
		// 	if (fileUploader.files.length > 0) {
		// 		fileUploadText.textContent = fileUploader.files[0].name;
		// 	} else {
		// 		fileUploadText.textContent = 'لم يتم اختيار ملف';
		// 	}
		// });
	</script>

<script src="../../assets/libs/jquery/jquery.min.js"></script>
<script src="../../site/assets/js/subscribe.js"></script>

</body>

</html>