<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <title>Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="../../assets/images/favicon.png">
    <link href="../../assets/css/bootstrap-dark-rtl.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <link href="../../assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/css/app-dark-rtl.min.css" id="app-style" rel="stylesheet" type="text/css" />
    <link href="../../assets/css/custom.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />

</head>

<body data-sidebar="dark">

    <div id="layout-wrapper">

        <div id="header-placeholder">

            <header id="page-topbar">
                <div class="navbar-header">
                    <div class="d-flex">
                        <div class="navbar-brand-box">
                            <a href="index.html" class="logo logo-dark">
                                <span class="logo-sm">
                                    <img src="../../assets/images/logo.png" alt="logo-sm-dark" width="80%">
                                </span>
                                <span class="logo-lg">
                                    <img src="../../assets/images/logo.png" alt="logo-dark" width="80%">
                                </span>
                            </a>

                            <a href="index.html" class="logo logo-light">
                                <span class="logo-sm">
                                    <img src="../../assets/images/logo.png" alt="logo-sm-light" width="80%">
                                </span>
                                <span class="logo-lg">
                                    <img src="../../assets/images/logo.png" alt="logo-light" width="80%">
                                </span>
                            </a>
                        </div>
                        <button type="button" class="btn btn-sm px-3 font-size-24 header-item waves-effect pc-hidden"
                            id="vertical-menu-btn">
                            <i class="ri-menu-2-line align-middle"></i>
                        </button>

                    </div>

                    <div class="d-flex">
                        <!-- <div class="align-self-center">
                            <button id="lang-toggle-btn" class="btn btn-icon noti-icon">
                                <i class="mdi mdi-web">
                                </i>
                                <span id="translateText" class="translate-text">عربي</span>

                            </button>
                        </div> -->

                        <div class="align-self-center">
                            <button id="theme-toggle-btn" class="btn btn-icon noti-icon">
                                <i id="theme-icon" class="ri-sun-line"></i>
                            </button>
                        </div>

                        <div class="align-self-center">
                            <button id="theme-toggle-btn" class="btn btn-icon noti-icon" data-bs-toggle="modal"
                                data-bs-target="#logoutModal">
                                <i class="mdi mdi-logout"></i>
                            </button>
                        </div>

                    </div>
                </div>
            </header>

            <div class="vertical-menu">

                <div data-simplebar class="h-100">

                    <div id="sidebar-menu">
                        <ul class="metismenu list-unstyled" id="side-menu">
                            <!-- <li><a href="/adminstration/packageType">Package </a> -->
                            <li><a href="/adminstration/subscriptionForms">اسئلة الاشتراكات </a>
                            <li><a href="/adminstration/responsesAll">الردود </a>

                        </ul>
                    </div>
                </div>
            </div>


        </div>


        <div class="main-content" id="result">
            <div class="page-content">
                <div class="container-fluid">

                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">اسئلة الاشتراكات</h4>

                                    <div id="packagesTableBody"></div>

                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>


        </div>

    </div>

    <div class="right-bar">
        <div data-simplebar class="h-100">
            <div class="rightbar-title d-flex align-items-center px-3 py-4">

                <h5 class="m-0 me-2">Settings</h5>
                <a href="javascript:void(0);" class="right-bar-toggle ms-auto">
                    <i class="mdi mdi-close noti-icon"></i>
                </a>

            </div>

        </div>
    </div>

    <div class="rightbar-overlay"></div>

    <div id="logoutModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title mt-0" id="myModalLabel">تسجيل خروج</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <label class="form-label">هل أنت متأكد من تسجيل الخروج؟</label>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-light waves-effect" data-bs-dismiss="modal">إلغاء</button>
                    <button type="button" class="btn btn-primary waves-effect waves-light">نعم</button>
                </div>
            </div>
        </div>
    </div>
    <script src="../../assets/libs/jquery/jquery.min.js"></script>
    <script src="../../assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../../assets/libs/metismenu/metisMenu.min.js"></script>
    <script src="../../assets/libs/simplebar/simplebar.min.js"></script>
    <script src="../../assets/libs/node-waves/waves.min.js"></script>
    <script src="../../assets/libs/jquery-sparkline/jquery.sparkline.min.js"></script>
    <script src="../../assets/js/app.js"></script>
    <script src="../../assets/js/theme.js"></script>
    <script src="../../assets/js/config/navTest.js"></script>
    <script src="../../assets/js/config/validator.js"></script>
    <script src="../../assets/libs/sweetalert2/sweetalert2.min.js"></script>
    <script src="../../assets/js/pages/sweet-alerts.init.js"></script>
    <script src="../../assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="../../assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="../../assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="../../assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="../../assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
    <script src="../../assets/js/pages/datatables.init.js"></script>
    <script src="../../js/subscription.js"></script>
</body>

</html>